@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    padding-top: 6rem;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-bottom: 3rem;
    font-size: 16px;
}

.container {
    display: grid;
    gap: 2.5rem;
}

.header {
    display: grid;
    grid-auto-flow: column;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.menu {
    text-align: right;
}

.menu ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
}

.menu li a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.menu li a:hover {
    color: var(--soft-red);
}

.content-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 30px;
}

.headline {
    grid-column: span 2;
    grid-row: span 2;
}

.new-box {
    grid-row: span 2;
    background-color: var(--very-dark-blue);
    padding: 1rem;
}

.new-box-title > h2{
    font-size: 2rem;
    color: var(--soft-orange);
}

.new-box-title {
    padding-bottom: 1rem;
}

.new-box-article h4 {
    font-size: 1.2rem;
    color: var(--off-white);
}

.new-box-article p {
    color: var(--dark-grayish-blue);
}

.new-box-article p {
    line-height: 28px;
}

#new-article-1 {
    border-bottom: 1px solid var(--dark-grayish-blue);
}
#new-article-2 p {
    padding-bottom: 30px;
}

#new-article-2 {
    border-bottom: 1px solid var(--dark-grayish-blue);
}

.headline-img > img {
    height: auto;
    width: 100%;
}

.headline-title h1 {
    font-weight: 800;
    font-size: 3rem;
}

.headline-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-box-article-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}

.headline-grid-container {
    margin-top: 2.2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.headline-content-paragraph p{
    color: var(--dark-grayish-blue);
}

.news-article {
    /* display: grid; 
    grid-auto-flow: column; */
    /* height: 150px; 
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.news-article-image img {
     width: 150px; 
}

.news-article:hover {
    color: var(--soft-red)
}

.news-article-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.article-number {
    font-size: 2rem;
    font-weight: 700;
    color: var(--grayish-blue);
}

.article-title {
    font-weight: 800;
}

.article-summary {
    color: var(--dark-grayish-blue)
}

.new-box-article:hover {
    cursor: pointer;
}

.new-box-article:hover h4 {
    color: var(--soft-orange)
}

.headline-content-button-container button {
    text-transform: uppercase;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 3px;
    color:var(--off-white);
    background-color: var(--soft-red);
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.headline-content-button-container button:hover {
    background-color: var(--very-dark-blue);
}

@media only screen and (max-width: 375px) {
    .container {
        grid-auto-flow: row;
    }

    .content-container {
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, 1fr);
    }

    .headline {
        grid-column: auto;
        grid-row: auto; 
    }

    .new-box {
        grid-row: auto;
    }

    .news-article {
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 1440px) {

  }