@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    display: grid;
    grid-auto-flow: column;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.menu ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
}

.menu li a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.content-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 30px;
}

.headline {
    grid-column: span 2;
    grid-row: span 2;
}

.new-box {
    grid-row: span 2;
}

.headline-img > img {
    height: auto;
    width: 100%;
}

.new-box-article-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.headline-grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
}

.news-article {
    /* display: grid;
    grid-auto-flow: column;
    /* height: 150px; 
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
}
.news-article-image img {
    height: 100px;
     width: auto; 
}

.news-article-content {
    grid-column: span 2;
}

@media only screen and (max-width: 375px) {
    
  }

  @media only screen and (max-width: 1440px) {

  }